html {
font-size: 16px;
font-family: 'Open Sans';
}

h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 4rem;
  margin-top: 2rem;
  color: white;
}

.navbar-brand {
  font-family: "Playfair Display";
  font-weight: bold;
}
.container {
}


.jumbotron {
  height: 34rem;
  background-size: cover;
  color: white;
  text-align: center;
}

.jumbotron-1 {
  background-image: url("../images/slick_1.png");
}

.jumbotron-2 {
  background-image: url("../images/slick_2.png");
}

.jumbotron-3 {
  background-image: url("../images/slick_3.png");
}



.card-bg {
  background-image: url(../images/bright-squares.png);
  background: linear-gradient(to left, rgba(66, 134, 244, 0.5);
  background-repeat: repeat;
  margin-top: -1rem;
  z-index: 1;
}

.card  {
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
}

.btn-primary {
  background-color: #0aaeb5;
}

#card-section {


}
